/**
定义变量
**/

/** header 背景颜色 **/
$header_bg: #fff;
$c1: #285577;
$c2: #0066b2;
$c3: #6caad9;
$c4: #b1d3ec;

$rc1: #55391c;
$rc2: #ff8000;
$rc3: #ffc080;
$rc4: #ffdfbf;
$btn_color: #1890ff;
$default-theme-color: rgb(22, 93, 255);

ul,
ol {
  margin: 0;
  padding: 0;
}
